/* ESTILOS GENERALES */

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, Arial, Helvetica;
  text-decoration: none;
}

.clearfix{
  clear:both;
  float: none;
}

.box p,
.box h2,
.box h3,
.box ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

.box ul,
.box ol {
  margin-left: 20px;
  margin-bottom: 10px;
}

body {
  background-color: #f2f2f2;
}

/* ESTILOS HEADER */
header {
  width: 1212px;
  height: 140px;
  background-color: #23282b;
  margin: 0px auto;
}

#logo {
  width: 35%;
  height: 130px;
  margin: 0px auto;
  padding-top: 10px;
}

#logo img {
  display: block;
  width: 60px;
  float: left;
  margin-top: 20px;
}

#logo h1 {
  display: block;
  float: left;
  margin-top: 35px;
  margin-left: 20px;
  letter-spacing: 2px;
  font-weight: 100;
  color: #2ba977;
}

/* ESTILOS NAV */

nav {
  width: 1250px;
  height: 40px;
  background-color: #1b1e1f;
  border: 1px solid #333333;
  margin: 0 auto;
  box-shadow: 0px 22px 22px gray;
  font-size: 15px;
}

nav ul {
  list-style: none;
  text-decoration: none;
}

nav ul li {
  line-height: 40px;
  float: left;
}

nav ul li a {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  color: #d1d4d6;
}

nav ul li a:hover {
  background: #2ba977;
  box-shadow: 0px 0px 5px #444 inset;
  color: white;
  transition: all 300ms;
}

.bar {
  width: 1250px;
  margin: 0 auto;
}

.corner-left {
  display: block;
  border-left: 20px solid transparent;
  border-top: 10px solid #2b2f30;
  float: left;
}

.corner-right {
  display: block;
  border-right: 20px solid transparent;
  border-top: 10px solid #2b2f30;
  float: right;
}

.stuffed-bar {
  display: block;
  width: 1210px;
  height: 10px;
  background: #2b2f30;
  float: left;
}

/* ESTILOS CONTENIDO CENTRAL */

#content {
  width: 1212px;
  min-height: 930px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 40px;
}

.box {
  margin: auto;
  background: white;
  width: 95%;
  min-height: 930px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.box form {
  width: 40%;
}

.box form input,
.box form label{
  display: block;
  padding: 5px;
  padding-left: 0px;
}

.box form input[type=text],
.box form textarea {
  width: 100%;
  margin-bottom: 
  10px;
}

.box form select{
  width: 100px;
  padding: 5px;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button{
  padding: 10px;
  margin-top: 5px;
  background: #2ba977;
  border:1px solid #444;
  color: white;
  transition: 300ms all;
}

.red {
  color:red;
}

.message{
  padding: 20px;
  background: #1f7e58;
  color:white;
  text-align: center;
  margin-bottom: 10px;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover{
  cursor:pointer;
  background: #1f7e58;
}

.title {
  color: #444;
  letter-spacing: 1px;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.article-item{
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
  border-bottom: 1px solid #333;
  clear:both;
}

.article-item .img{
  width: 200px;
  height: 200px;
  float: left;
  overflow: hidden;
}

.article-item .img img{
  width: 200px;
  height: 200px;
}

.article-item .data {
  display: block;
  float: left;
  padding: 15px;
  padding-top: 0px;
  margin-bottom: 10px;
}

.article-item h2{
  display:block;
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
}

.article-item span{
  display: block;
  font-size: 15px;
  color: gray;
  margin-bottom:10px;
}

.btn{
  display: block;
  padding: 10px;
  background: rgb(207, 48, 48);
  color: white;
  border: 1px solid black;
  margin-top: 15px;
  width: 90px;
  text-align: center;
  border-radius: 3%;
}

/* ESTILOS FOOTER */
footer {
  width: 1250px;
  background-color: #1b1e1f;
  border: 1px solid #333;
  color: #d1d4d6;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 20px gray;
  margin: 0 auto;
}
