<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gamepad Zone</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Loading static CSS file-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}" />
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="header-inner">
            <div id="logo">
                <a href="{% url 'home'%}"><img src="{% static 'images/logo.png' %}" id="logoimg"></a>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="{% url 'home'%}" class="nav-link">HOME</a></li>
                    <li><a href="{% url 'blog'%}" class="nav-link">BLOG</a></li>
                    <li><a href="" class="nav-link">ABOUT</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
            
            
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="footer-inner">
            <p class="social-media">Social media</p>
            <p class="designer">Designed by ---</p>
        </div>
    </footer>
    <script src="{% static 'javascript/main.js' %}"></script>
</body>

</html>